body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#menu-list{
    display: flex;
    flex-wrap: wrap;
}

.menu-container, .order-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.menu-container button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.order-container #order-status {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #008000;
}
.food-item {
    display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  width: 25%;
  }
  
  .food-item img {
    width:100px;
    margin-right: 10px;
  }
  